parameters:
	ignoreErrors:
		-
			message: "#^Method Phpactor\\\\Extension\\\\PHPUnit\\\\PHPUnitExtension\\:\\:registerWorseReflection\\(\\) has no return typehint specified\\.$#"
			count: 1
			path: lib/PHPUnitExtension.php

		-
			message: "#^Method Phpactor\\\\Extension\\\\PHPUnit\\\\PHPUnitExtension\\:\\:registerCodeTransform\\(\\) has no return typehint specified\\.$#"
			count: 1
			path: lib/PHPUnitExtension.php

